@import 'tailwindcss';

@theme {
  --font-serif: var(--font-noto-serif-sc), serif;
  --default-font-family: var(--font-serif);

  --color-*: initial;
  --color-white: #fff;
  --color-black: #2f2c2b;

  --color-brand-0: #fdf6f2;
  --color-brand-1: #fbe6da;
  --color-brand-2: #f7ccb7;
  --color-brand-3: #f3b194;
  --color-brand-4: #ef9473;
  --color-brand-5: #eb7652;
  --color-brand-6: #c75b40;
  --color-brand-7: #a4432f;
  --color-brand-8: #802e21;
  --color-brand-9: #5c1c15;

  --color-border-1: #d2c9bb;
}

html,
body {
  background-color: var(--color-brand-0);
}
